#navbar-content {
    border-bottom: 1px solid black;
    font-size: x-large;
}

#delimitation {
    border-top: 1px solid black;
    margin-top: 2rem;
    width: 100%;
}

#error-message {
    color: red;
    font-size: small;
}

#product-list {
    font-weight: bold;
}

.card-container {
    text-align: center;
}

.my-card {
    border: 1px solid black;
}

.page-content {
    min-height: 100vh;
    padding-bottom: 1rem;
    font-size: larger;
}

.spacer {
    height: 5rem;
}

.rect {
    border:1px solid black;
    width:20px; 
    height:20px;
}

.full-text {
    display: none;
}

.short-text {
    display: block;
}

footer {
    border-top: 1px solid black;
    position: relative;
    font-size: smaller;
    text-align: center;
    height: 5rem;
    padding: 2rem;
}

button {
    border: 1px solid gray;
    background-color: transparent;
    font-size: medium;
    box-shadow: 3px 3px 3px black;
}

button:active {
    box-shadow: 0px 0px 0px transparent;
}

button:hover {
    border-bottom: 1px solid black;
}

@media (min-width: 576px) {
    #navbar-content {
        font-size: xx-large;
    }

    .full-text {
        display: block;
    }

    .short-text {   
        display: none;
    }
}

@media (min-width: 760px) {
    #delimitation {
        width: 68%;   
    }
}

@media (min-width: 992px)  {
    #delimitation {
        width: 59%;
    }
}

@media (min-width: 1200px) {
    #delimitation {
        width: 55%;
    }
}